<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="common_properties.xacro"/>
    <xacro:include filename="inertia_properties.xacro"/>
    <xacro:include filename="gazebo_control.xacro"/>

    <!-- BASE LINK -->
    <link name="base_link"></link>

    <!-- BASE_FOOTPRINT LINK (ref point for localization) -->
    <joint name="base_footprint_joint" type="fixed">
        <parent link="base_link"/>
        <child link="base_footprint"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="base_footprint"></link>

    <!-- CHASSIS LINK -->
    <joint name="chassis_joint" type="fixed">
        <parent link="base_link"/>
        <child link="chassis"/>
        <origin xyz="0 0 ${chassis_body_height/2}"/>
    </joint>
    <link name="chassis">
        <visual>
            <origin xyz="0 0 ${chassis_body_height/2}"/>
            <geometry>
                <box size="${chassis_length} ${chassis_width} ${chassis_body_height}"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="0 0 ${chassis_body_height/2}"/>
            <geometry>
                <box size="${chassis_length} ${chassis_width} ${chassis_body_height}"/>
            </geometry>
        </collision>
        <xacro:cuboid_inertia mass="0.6" width="${chassis_width}" height="${chassis_body_height}" depth="${chassis_length}">
            <origin xyz="0 0 ${chassis_body_height/2}"/>
        </xacro:cuboid_inertia>
    </link>

    <!-- WHEELS -->
    <xacro:macro name="wheel" params="prefix x_reflect y_reflect">
        <link name="${prefix}_wheel">
            <visual>
                <geometry>
                    <cylinder radius="${wheel_radius}" length="${wheel_thickness}"/>
                </geometry>
                <material name="black"/>
            </visual>
            <collision>
                <geometry>
                    <cylinder radius="${wheel_radius}" length="${wheel_thickness}"/>
                </geometry>
                <surface>
                    <friction>
                        <ode>
                            <mu>1.0</mu>
                            <mu2>1.0</mu2>
                        </ode>
                    </friction>
                </surface>
            </collision>
            <xacro:cylinder_inertia mass="0.1" radius="${wheel_radius}" height="${wheel_thickness}">
                <origin xyz="0 0 0" rpy="0 0 0"/>
            </xacro:cylinder_inertia>
        </link>

        <joint name="${prefix}_wheel_joint" type="continuous">
            <parent link="base_link"/>
            <child link="${prefix}_wheel"/>
            <origin xyz="${wheel_offset_x * x_reflect} ${wheel_offset_y * y_reflect} ${wheel_offset_z}" rpy="${-pi/2} 0 0"/>
            <axis xyz="0 0 1"/>
            
            <dynamics damping="${wheel_joint_damping}" friction="${wheel_joint_friction}"/>
        </joint>
    </xacro:macro>

    <xacro:wheel prefix="front_left"  x_reflect="1"  y_reflect="1" />
    <xacro:wheel prefix="front_right" x_reflect="1"  y_reflect="-1" />
    <xacro:wheel prefix="back_left"   x_reflect="-1" y_reflect="1" />
    <xacro:wheel prefix="back_right"  x_reflect="-1" y_reflect="-1" />

</robot>